# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
projects/iwe7-map/
projects/iwe7-base/
projects/iwe7-core/
projects/iwe7-flex/
projects/iwe7-square/
projects/iwe7-im/
projects/iwe7-navbar/
projects/iwe7-tabbar/
projects/iwe7-url/
projects/iwe7-better-scroll/
projects/iwe7-dialog/
projects/iwe7-util/src/lib/ng-private.ts
