:host {
  overflow: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
}

ul {
  list-style: none;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    position: relative;
    &:active,
    &.active,
    &:hover {
      background: #ccc;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 1px;
      color: #efefef;
      background: #efefef;
      transform: scaleY(.5);
    }
    .avatar {
      width: 30px;
      height: 30px;
      img {
        width: 100%;
      }
    }
    .content {
      flex: 1;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      .desc {
        display: flex;
        flex-direction: row;
        .nickname {
          flex: 1;
        }
        .mobile {
          color: gray;
        }
      }
    }
  }
}
