ul {
  display: flex;
  flex-direction: column;
  background: #fff;
  list-style: none;
  margin-top: 10px;
  li {
    line-height: 44px;
    height: 44px;
    position: relative;
    padding: 0 20px;
    &:active,
    &.active,
    &:hover {
      background: #ccc;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 1px;
      color: #ececec;
      background: #ececec;
      transform: scaleY(.5);
    }
  }
}
