<div class="row">
  <div>工单总数
    <span>0</span>
  </div>
  <div>会员总数
    <span>0</span>
  </div>
</div>
<div class="state">
  <div class="state-item">
    <div>今日订单
      <span>0</span>
    </div>
    <div>今日金额
      <span>0</span>
    </div>
  </div>
  <div class="state-item">
    <div>本周订单
      <span>0</span>
    </div>
    <div>本周金额
      <span>0</span>
    </div>
  </div>
  <div class="state-item">
    <div>本月订单
      <span>0</span>
    </div>
    <div>本月金额
      <span>0</span>
    </div>
  </div>
</div>
