.row {
  display: flex;
  flex-direction: row;
  background: #fff;
  margin-top: 10px;
  div {
    flex: 1;
    text-align: center;
    line-height: 44px;
  }
}

.state {
  display: flex;
  flex-direction: column;
  padding: 0px;
  font-size: .9em;
  color: gray;
  background: #fbfbfb;
  .state-item {
    display: flex;
    flex-direction: row;
    div {
      flex: 1;
      text-align: center;
      line-height: 44px;
    }
  }
}
