.button {
  background: #000000a8;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.h10 {
  height: 10px;
}

.advs {
  height: 120px;
  overflow: hidden;
  position: relative;
  .close {
    position: absolute;
    bottom: 0px;
  }
}

