.advs {
  height: 120px;
  overflow: hidden;
  position: relative;
  .close {
    position: absolute;
    bottom: 0px;
  }
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}

mat-drawer-container {
  height: 100%;
}

.hairline {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: var(--display);
    background-color: var(--color);
    z-index: 1;
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    width: var(--width);
    height: var(--height);
    transform-origin: var(--originX) var(--originY);
    transform: scale(var(--scaleX), var(--scaleY));
    box-sizing: border-box;
    pointer-events: none;
    border: var(--border);
    border-radius: var(--borderRadius);
  }
}

.box {
  height: 200px;
  overflow: hidden;
}

.box-container {
  height: 400px;
  overflow: hidden;
}

div.hammer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ccc;
  color: #fff;
  margin-top: 10px;
  overflow: hidden;
}

.scrollX {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
