
.advs {
  height: 120px;
  overflow: hidden;
  position: relative;
  .close {
    position: absolute;
    bottom: 0px;
  }
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}

mat-drawer-container {
  height: 100%;
}
