<layout-outlet>
  <div style="height:200px;overflow: hidden;margin-top: 10px;" >
    <div (scroll)="scroll($event)">
      <div style="height:50px;background:green;"></div>
      <div style="height:50px;background:red;"></div>
      <div style="height:50px;background:darkblue;"></div>
      <div style="height:50px;background:green;"></div>
      <div style="height:50px;background:red;"></div>
      <div style="height:50px;background:darkblue;"></div>
      <div style="height:50px;background:green;"></div>
      <div style="height:50px;background:red;"></div>
      <div style="height:50px;background:darkblue;"></div>
      <div style="height:50px;background:green;"></div>
      <div style="height:50px;background:red;"></div>
      <div style="height:50px;background:darkblue;"></div>
    </div>
  </div>

  <div style="width: 100%;overflow: hidden;margin-top: 10px;">
    <div class="scrollX" (scrollX)="scroll($event)">
      <div style="min-width: 100px;background: red;height: 80px;"></div>
      <div style="min-width: 100px;background: green;height: 80px;"></div>
      <div style="min-width: 100px;background: darkblue;height: 80px;"></div>
      <div style="min-width: 100px;background: red;height: 80px;"></div>
      <div style="min-width: 100px;background: green;height: 80px;"></div>
      <div style="min-width: 100px;background: darkblue;height: 80px;"></div>
      <div style="min-width: 100px;background: red;height: 80px;"></div>
      <div style="min-width: 100px;background: green;height: 80px;"></div>
      <div style="min-width: 100px;background: darkblue;height: 80px;"></div>
      <div style="min-width: 100px;background: red;height: 80px;"></div>
      <div style="min-width: 100px;background: green;height: 80px;"></div>
      <div style="min-width: 100px;background: darkblue;height: 80px;"></div>
    </div>
  </div>
</layout-outlet>
