<!-- <router-outlet></router-outlet> -->

<map-outlet [height]="height">
  <map-container></map-container>
  <div currentCity="北京" [zoom]="zoom" [lat]="lat" [lng]="lng"></div>
  <div (mapMoveend)="mapMoveend($event)"></div>
  <div mapPane="floatPane">
    <map-overlay [lat]="lat" [lng]="lng">
      <img style="width: 30px;" src="./assets/icons/map/banglocation.png">
    </map-overlay>
  </div>
  <div mapPane="labelPane">
    <map-overlay [lat]="lat-0.1" [lng]="lng">
      <img style="width: 40px;" src="./assets/icons/map/start.png">
    </map-overlay>
    <map-overlay [lat]="lat" [lng]="lng-0.1">
      <img style="width: 40px;" src="./assets/icons/map/end.png">
    </map-overlay>
  </div>
  <span (geolocationControl)="geolocationControl($event)"></span>
  <span navigationControl></span>
  <span scaleControl></span>
  <span trafficControl></span>

  <div customControl>
    <ul>
      <li>步行</li>
      <li>公交</li>
      <li>驾车</li>
    </ul>

  </div>

  <!-- <div transitRoute start="天安门" end="百度大厦"></div> -->
  <!-- <div drivingRoute start="天安门" end="百度大厦"></div> -->
  <!-- <div walkingRoute start="天安门" end="百度大厦"></div> -->

  <ng-template>
    <!-- <span>{{'天都城'|getPoint:'杭州'|async|json}}</span>
    <span>{{ point | getLocation|async|json}}</span>
    <input type="text" mapAutoComplete> -->
    <!-- <div localSearch="测试">
      <ng-template let-item>
        {{item?.title}}
      </ng-template>
    </div> -->
  </ng-template>
</map-outlet>

<badge-outlet>
  <badge-container>30</badge-container>
</badge-outlet>
