:host {
  display: block;
  padding: 5px 20px;
  &:hover {
    opacity: .6;
  }
}

.tip {
  font-size: .9em;
  margin-bottom: 10px;
  opacity: .9;
}

.money {
  font-size: 2em;
  margin-bottom: 10px;
}
