<steps [current]="current">
  <step>1
    <ng-template #title>第一步</ng-template>
  </step>
  <step>2
    <ng-template #title>第二步</ng-template>
  </step>
  <step>3
    <ng-template #title>第三步</ng-template>
  </step>
</steps>

<div class="content">
  <ng-container *ngIf="current ===0">
    <div class="container" [formGroup]="step1">
      <list>
        <list-item>
          <input formControlName="carNum" placeholder="请输入车牌号">
        </list-item>
        <list-item>
          <input formControlName="jarNum" placeholder="请输入车架号">
        </list-item>
        <list-item>
          <input formControlName="licheng" placeholder="请输入里程数">
        </list-item>
      </list>
      <list style="margin-top: 10px;">
        <list-item>
          <input formControlName="realname" placeholder="请输入姓名">
        </list-item>
        <list-item>
          <input formControlName="mobile" placeholder="请输入电话">
        </list-item>
      </list>
    </div>
    <button am-button type="primary" [disabled]="!step1.valid" (clickStream)="next()">下一步</button>
  </ng-container>
  <ng-container *ngIf="current ===1">
    <div class="container" [formGroup]="step2">
      <list>
        <list-item></list-item>
      </list>
    </div>
    <button am-button type="primary" (click)="next()">下一步</button>
  </ng-container>
  <ng-container *ngIf="current ===2">
    <button am-button type="primary" (click)="finish()">完成</button>
  </ng-container>
</div>
