<am-search></am-search>
<am-switch [activeColor]="'red'"></am-switch>
<am-slider></am-slider>

<label class="my-radio" am-radio-wrapper>
  <am-radio></am-radio>
  同意
</label>

<label am-checkbox-wrapper>
  <am-checkbox></am-checkbox>
</label>

<am-picker [data]="data" [value]="value"></am-picker>

<am-picker-date></am-picker-date>


<am-textarea></am-textarea>
<!-- <am-picker-popup>
  <am-picker-date></am-picker-date>
</am-picker-popup> -->

<steps [current]="current">
  <step>1
    <ng-template #title>第一步</ng-template>
  </step>
  <step>2
    <ng-template #title>第二步</ng-template>
  </step>
  <step>3
    <ng-template #title>第三步</ng-template>
  </step>
</steps>

<div class="content">
  <ng-container *ngIf="current ===0">
    <div class="container">
      <list>
        <list-item>
          <input placeholder="请输入车牌号">
        </list-item>
        <list-item>
          <input placeholder="请输入车架号">
        </list-item>
        <list-item>
          <input placeholder="请输入里程数">
        </list-item>
      </list>
      <list style="margin-top: 10px;">
        <list-item>
          <input placeholder="请输入姓名">
        </list-item>
        <list-item>
          <input placeholder="请输入电话">
        </list-item>
        <am-image-picker></am-image-picker>
      </list>
    </div>
    <button am-button type="primary" (click)="next()">下一步</button>
  </ng-container>
  <ng-container *ngIf="current ===1">
    <button am-button type="primary" (click)="next()">下一步</button>
  </ng-container>
  <ng-container *ngIf="current ===2">
    <button am-button type="primary" (click)="finish()">完成</button>
  </ng-container>
</div>
